header {
    background-color: white;
}
nav {
    float: right;
    margin-right: 20px;
}
nav ul {
    display: inline-flex;
    list-style-type: none;
}

nav ul li{
    width: 50px;
}

h1 {
    text-align: center;
}

#article-list {
    padding: 20px;
    margin: 0 100px;
    background-color: white;
}

footer {
    color: white;
    background-color: black;
    height: 50px;
    text-align: center;
    padding: 1px;
}