
<div id="about-page">
    <h1>Data Peserta Sanbercode Bootcamp Reactjs</h1>
    <table>
        <tr>
            <td>1. </td>
            <td><b>Nama</b>: Dwi Setiadi Nugroho</td>
        </tr>
        <tr>
            <td>2. </td>
            <td><b>Email</b>: setiadi1511@gmail.com</td>
        </tr>
        <tr>
            <td>3. </td>
            <td><b>Sistem Operasi yang digunakan</b>: Windows 10</td>
        </tr>
        <tr>
            <td>4. </td>
            <td><b>Akun Gitlab</b>: https://gitlab.com/setiadi1511/sanbercode</td>
        </tr>
        <tr>
            <td>5. </td>
            <td><b>Akun Telegram</b>: +628818082948</td>
        </tr>
    </table>
</div>
<a href="index.html">Kembali Ke Index</a>