
<div id="contact-page"></div>
    <h3 style="text-align:center;">Hubungi Kami</h3>
    <p>
        <b>Kantor</b>: Pasar senen, <br>
        <b>Nomor Telpon</b>: 08xx-9090-09090, <br>
        <b>Email</b>: email@contoh.com,
    </p>
    <h3 style="text-align:center;">Hubungi Kami</h3>

    <table>
        <tr>
            <td>Nama</td>
            <td><input></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input></td>
        </tr>
        <tr>
            <td>Jenis Kelamin</td>
            <td><input></td>
        </tr>
        <tr>
            <td>Pesan Anda</td>
            <td><textarea></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><button>Kirim</button></td>
        </tr>
    </table>
</div>
<br>
<br>
<a href="index.html">Kembali Ke Index</a>
